@import "tailwindcss";

/* Ensure consistent background on body & html */
body, html {
    background-color: #e3d2c3;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    
  }
  .new-tegomin-regular {
    font-family: "New Tegomin", serif;
    font-weight: 400;
    font-style: normal;
  }

  .space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }  
  